<!-- app/views/layouts/_flash_tasks.html.erb -->

<!--
<%# flash.each do |task_type, task| %>
  <div><%#= task %></div>
<%# end %>


<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<!-- alert Bootstrap の色指定かな？ -->
